<h1>ブログ一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'ブログ一覧画面に戻る', blogs_path %>
<%= link_to '新規作成', new_blog_path %>

